// Here you can add other styles

.btn-filter {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-create {
  color: rgb(255, 255, 255);
  background-color: rgb(12, 124, 31);
  border-color: rgb(12, 124, 31);
}

.td-middle {
  // text-align: center;
  vertical-align: middle !important;
}

.inactive-modal {
  pointer-events: none;
  position: fixed;
}

.disable-detail:disabled{
  background-color: white;
  opacity: 1;
}